name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 12.x
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Run npm
      run: npm install

    - name: Self-test
      uses: ./
      with:
        tag: demo
        files: *
